* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: #0F2027;
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
} 

.captcha-border {
    background: rgb(202, 208, 208);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    height: 60vh;
    width: 25vw;
}

.screen-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 40%;
    justify-content: center;
}

.screen {
    align-items: center;
    background-image: url("./images/bg6.png");
    border-radius: 8px;
    border: 1px solid black;
    color: aliceblue;
    display: flex;
    font-family: 'Rubik Broken Fax';
    font-size: 2rem;
    height: 60%;
    justify-content: center;
    letter-spacing: 20px;
    margin-bottom: 10px;
    width: 80%;
}

.input-box {
    height: 50%;
}

.input {
    display: flex;
    height: 30%;
    justify-content: center;
}

.button {
    display: flex;
    height: 60%;
    justify-content: center;
}

.message-container {
    align-items: center;
    display: flex;
    height: 20%;
    justify-content: center;
    width: 100%;
}

.message {
    display: flex;
    font-size: 18px;
    justify-content: center;
    width: 90%;
}

.mb-3 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

.btn {
    height: 30%;
    width: 30%;
}

.regen {
    align-self: end;
    background: none;
    border: none;
    font-size: 15px;
    margin: 0 30px;
}