* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
} 

.captcha-border {
    background: azure;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    height: 80vh;
    width: 30vw;
}

.screen-box {
    align-items: center;
    border: 1px solid black;
    display: flex;
    height: 35%;
    justify-content: center;
}

.screen {
    align-items: center;
    border-radius: 8px;
    border: 1px solid black;
    display: flex;
    height: 60%;
    justify-content: center;
    width: 80%;
}

.input-box {
    border: 1px solid black;
    height: 65%;
}