* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
} 

.captcha-border {
    background: rgb(225, 218, 207);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    height: 80vh;
    width: 30vw;
}

.screen-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 40%;
    justify-content: center;
}

.screen {
    align-items: center;
    border-radius: 8px;
    border: 1px solid black;
    display: flex;
    height: 60%;
    justify-content: center;
    width: 80%;
    margin-bottom: 10px;
}

.input-box {
    height: 50%;
}

.input {
    display: flex;
    justify-content: center;
    height: 30%;
}

.button {
    display: flex;
    justify-content: center;
    height: 40%;
}

.message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
}

.message {
    display: flex;
    justify-content: center;
    width: 90%;
    font-size: 20px;
    margin: 10px;
}

.mb-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
}

.btn {
    height: 30%;
    width: 30%;
}

.regen {
    align-self: end;
    border: none;
    background: none;
    margin: 10px;
    font-size: 14px;
}